*{
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    overflow-x: hidden;
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    margin: 100px auto 30px auto;
    max-height: 100px;
    z-index: -1;
}

.superaSuporte{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}


main{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

p{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

a{
    text-decoration: none;
    text-align: center;
    width: 35%;
    border: 1px solid black;
    color: rgba(0, 0, 0, 0.678);
    padding: 15px;
    margin-bottom: 10px;
    border-radius:5px;
}

a:hover{
    background-color: black;
    color: white;
    scale: 1;
    transition: 0.6s;
}
@media screen and (max-width:768px) {
    a{
        width: 90%;
    }
    main{
        width: 90vw;
        padding: 0px;
    }
}




